<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="video/background.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div>
    </div>
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Mix your fridge</h1>
        <p class="lead mb-0">Cook your own</p>
      </div>
    </div>
  </div>
</header>
<div class="container h-100">

</div>
<br>
<a href="/"><button class="btn btn-primary btn-lg btn-block">Home</button></a>
<br>
<button id="find" type="button" class="btn btn-primary btn-lg btn-block">Find</button>
<div class="spoilerfind">
  <h2 align="center">Find meal by name:</h2>
  <form name="findform" class="list" method="post" action="/findform">
    <div class="inputss">
      <input type="text" name="mealName" class="form-control" placeholder="Meal name" aria-label="Recipient's username"
        aria-describedby="button-addon2">
    </div>
    <div class="submitbuttonn">
      <input type="submit" class="btn btn-primary btn-sm" value="Find">
    </div>
  </form>
</div>
<br>
<button id="mix" type="button" class="btn btn-primary btn-lg btn-block">Mix my fridge</button>
<div class="spoilermix">
  <h2 align="center">Specify your products:</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control new" placeholder="Ingredient" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary add" type="button" id="button-addon2">Add</button>
    </div>
  </div>
  <form name="formm" class="list lists" method="POST" action="/mix">
    <div class="inputs"></div>
    <div class="submitbutton"></div>
  </form>
</div>
<br>
<form method="GET" action="/random">
  <button id="random" type="submit" class="btn btn-primary btn-lg btn-block">Get random dish</button>
</form>
